.form {
    padding: 10px;
    background-color: antiquewhite;
    height: auto;
    width: 280px;
    border-radius: 10px;
    margin: 100px auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  .form-group input[type="email"],
  .form-group input[type="password"] {
    padding: 0.8rem 0;
  }
  
  #signup-btn {
    width: 100%;
    background-color: rgb(4, 4, 52);
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 15px 5px;
    cursor: pointer;
  }
  